<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kiosk_help_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kiosk_help_app">
        <activity
            android:name=".copying.Transfer.TransferSelectOnsiteReservationActivity"
            android:exported="false" />
        <activity
            android:name=".copying.Transfer.CopyingTransferOnsiteActivity"
            android:exported="false" />
        <activity
            android:name=".copying.Movie.MovieSelectOnsiteReservationActivity"
            android:exported="false" />
        <activity
            android:name=".copying.Movie.CopyingMovieOnsiteActivity"
            android:exported="false" />
        <activity
            android:name=".copying.fastfood.FastfoodSelectStorePackageActivity"
            android:exported="false" />
        <activity
            android:name=".copying.fastfood.CopyingFastfoodStoreActivity"
            android:exported="false" />
        <activity
            android:name=".copying.cafe.CafeSelectStorePackageActivity"
            android:exported="false" />
        <activity
            android:name=".copying.cafe.CopyingCafeStoreActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.Transfer.TransferSelectOnsiteReservationActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.Transfer.ChallengeTransferOnsiteActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.Movie.MovieSelectOnsiteReservationActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.Movie.ChallengeMovieOnsiteActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.fastfood.FastfoodSelectStorePackageActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.fastfood.ChallengeFastfoodStoreActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.cafe.CafeSelectStorePackageActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.cafe.ChallengeCafeStoreActivity"
            android:exported="false" />
        <activity
            android:name=".timetable.selectSeatAndPayActivitiy"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".timetable.SeatTableActivity"
            android:exported="true" />
        <activity
            android:name=".timetable.TransferGangneungTimetableActivity"
            android:exported="true" />
        <activity
            android:name=".alone.Transfer.AloneTransferOnsiteActivity"
            android:exported="true" />
        <activity
            android:name=".alone.Movie.AloneMovieOnstieActivity"
            android:exported="true" />
        <activity
            android:name=".alone.Movie.MovieSelectOnsiteReservationActivity"
            android:exported="true" />
        <activity
            android:name=".alone.Transfer.TransferSelectOnsiteReservationActivity"
            android:exported="true" />
        <activity
            android:name=".alone.cafe.CafeSelectStorePackageActivity"
            android:exported="true" />
        <activity
            android:name=".alone.cafe.AloneCafeStoreActivity"
            android:exported="true" />
        <activity
            android:name=".PayCheckActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".alone.fastfood.AloneFastfoodStoreActivity"
            android:exported="true" />
        <activity
            android:name=".alone.fastfood.FastfoodSelectStorePackageActivity"
            android:exported="true" />
        <activity
            android:name=".SelectAloneKioskActivity"
            android:exported="true" />
        <activity
            android:name=".SelectKiosk"
            android:exported="true"
            android:label="@string/title_activity_select_kiosk"
            android:theme="@style/Theme.Kiosk_help_app.NoActionBar" /> <!-- 앱을 실행시켰을때 temp 화면을 위한 코드 intent 로 만든다. -->
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>